<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="text-align: center">
    <h1>1213정현태/1211이호준</h1>
    <button id="r" style="background-color: gray; width: 200px; height: 200px; font-size: 30px; border-radius: 100%">r</button>
    <button id="g" style="background-color: gray; width: 200px; height: 200px; font-size: 30px; border-radius: 100%">g</button>
    <button id="y" style="background-color: gray; width: 200px; height: 200px; font-size: 30px; border-radius: 100%">y</button>
</div>
<script src="../static/index.js"></script>
</body>
</html>
