<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #p_b{
            background-color: blue;
        }
        #s_b{
            background-color: green;
        }
    </style>
</head>
<body>
    <h1>클릭 시 숫자 증가</h1>
    <h1 id="num">0</h1>

    <button type="button" id="p_b">수 증가</button>
    <button type="submit" id="s_b">전송</button>
    <script src="../static/index.js"></script>

</body>
</html>